.point-badge {
  position: absolute;
  top: 5px;
  left: 28px;
  background-color: #ff0000;
  color: #fff;
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 50%;
  font-weight: 700;
  line-height: 1;
  min-width: 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1;
  transform: scale(0.8);
  transform-origin: top right;
  transition: transform 0.2s ease-in-out;
  width: 20px;
  height: auto;
}

.header-controls > li {
  position: relative;
  border-right: 1px solid #e5e5e5;
  border-color: rgba(255,255,255,0.2);
}

.header-controls > li:last-child {
  position: relative;
  border-right: 0px solid #e5e5e5;
}
